/*
*全局变量定义
*/
//color

$font-colr: #353535;
$blue:#2B4F87;
$lightBlue:#0567A2;
$black:#000;
$red:#B10000;
$grey:#F6F6F7;
$darkBlue:#2A2E3F;
$bg-color:#F7F7F7;
html,body{
    height: 100%;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}